// ----- Bootstrap breakpoints -----
$breakpoint-max-xs: 575px;
$breakpoint-min-sm: 576px;
$breakpoint-max-sm: 767px;
$breakpoint-min-md: 768px;
$breakpoint-max-md: 991px;
$breakpoint-min-lg: 992px;
$breakpoint-max-lg: 1199px;
$breakpoint-min-xl: 1200px;

// ----- project colors -----
$bg-basic: #1b1b1b;
$color-basic: #9a9b9b;
$color-main: #0fd65a;
$bg-progress-base: #050505;
$bg-progress-bar: #2a2a2a;
$bg-playlist: #ffffff;
$album-header-items-height: 20px;
$back-btn-width: 11px;
$nav-height: 78px;