// ----- Bootstrap breakpoints -----
$breakpoint-max-xs: 575px;
$breakpoint-min-sm: 576px;
$breakpoint-max-sm: 767px;
$breakpoint-min-md: 768px;
$breakpoint-max-md: 991px;
$breakpoint-min-lg: 992px;
$breakpoint-max-lg: 1199px;
$breakpoint-min-xl: 1200px;

// ----- project colors -----
$bg-basic: #1b1b1b;
$color-basic: #9a9b9b;
$color-main: #0fd65a;
$bg-progress-base: #050505;
$bg-progress-bar: #2a2a2a;

$album-header-items-height: 20px;



$color-main-light: #9fa5ad;

$color-basic-light: #c6caec;
$color-basic-title: #1189d3;
$color-basic-title-level2: #1c1f83;


$bg-basic-border: #8186f4;
$button-color: #fff;
$button-bg: #38a5db;
$button-bg-play: #009cdc;
$dot-active: #2d32a5;
$dot: #c0c4e3;
$footer-padding-small: .9rem;
$footer-padding-big: 6%;